{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true
    },
    "extends": [
        "jquery"
    ],
    "rules": {
        "quotes": ["error", "single"]
    },
    "plugins": [
        "jquery"
    ],
    "ignorePatterns": [
        "fetch-polyfill.js",
        "promise-polyfill.js"
    ]
}